<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/assets/cocktails_banner.jpeg');">
  <div class="container">
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<p>Here is a list of our Cocktails, if you want to know more, just click on them !</p>
<br>
<br>
<br>
<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail %></h2>
<% end %>
<br>
<br>
<br>
<%= link_to 'add new cocktail', new_cocktail_path %>



