<h1> Cocktails </h1>
<br>
<br>
<br>
<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail %></h2>
<% end %>
<br>
<br>
<br>
<%= link_to 'add new cocktail', new_cocktail_path %>


